﻿
@model List<Records>
<script type="text/javascript">
    setTimeout(function(){
        location.reload();
    },1000)
</script>
<style>
    .yellow {
        background-color: #ffef04;
    }

    .red {
        background-color: #ff0000;
    }
    .green {
        background-color: #32cd32;
    }
</style>

<h1>
    <p align="center"><strong><span style="FONT-SIZE: 14pt">Phone Status Report</span></strong></p>
</h1>
<table class="taskList" style="WIDTH: 1200px; BORDER-COLLAPSE: collapse" bordercolor="#bbbbbb" cellspacing="0" cellpadding="3" align="center" border="1">
    <thead>
        <tr>
            <th style="WIDTH: 20%; BACKGROUND-COLOR: #d7e4ef; TEXT-ALIGN: center" scope="col">Name</th>
            <th style="WIDTH: 20%; BACKGROUND-COLOR: #d7e4ef; TEXT-ALIGN: center" scope="col">PhoneNo</th>
            <th style="WIDTH: 20%; BACKGROUND-COLOR: #d7e4ef; TEXT-ALIGN: center" scope="col">Team</th>
            <th style="WIDTH: 20%; BACKGROUND-COLOR: #d7e4ef; TEXT-ALIGN: center" scope="col">CurrentPhoneStatus</th>
            <th style="WIDTH: 20%; BACKGROUND-COLOR: #d7e4ef; TEXT-ALIGN: center" scope="col">StartTime</th>
            <th style="WIDTH: 20%; BACKGROUND-COLOR: #d7e4ef; TEXT-ALIGN: center" scope="col">TotalTime</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var rec in Model)
        {
            string rowColor = "green";
            if (rec.CurrentPhoneStatus != "READY" && rec.TotalTime >= 5 && rec.TotalTime <= 10)
            {
                rowColor = "yellow";
            }
            else if (rec.CurrentPhoneStatus != "READY" && rec.TotalTime > 10)
            {
                rowColor = "red";
            }

            <tr class="@rowColor">
                <td style="WIDTH: 20%; TEXT-ALIGN: center; color: #000000">@rec.name</td>
                <td style="WIDTH: 20%; TEXT-ALIGN: center; color: #000000">@rec.phone</td>
                <td style="WIDTH: 20%; TEXT-ALIGN: center; color: #000000">@rec.team</td>
                <td style="WIDTH: 20%; TEXT-ALIGN: center; color: #000000">@rec.CurrentPhoneStatus</td>
                <td style="WIDTH: 20%; TEXT-ALIGN: center; color: #000000">@rec.startTime</td>
                <td style="WIDTH: 20%; TEXT-ALIGN: center; color: #000000">@rec.TotalTime</td>
            </tr>

        }
    </tbody>


</table>